/* Reset styles and global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header styles */
header{
    width: auto;
    height: 100px;
    background-color: #fffbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}

/* Footer styles */
footer{
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    justify-content: center;
    width: 100%;
}

/* Main content styles */
.main{
    flex-grow: 1;
}

/* Container styles */
.container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

/* Button styles */
#addBook{
    padding: 10px 15px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

#addBook:hover{
    filter: brightness(90%);
}

/* Form styles */
.module{
    display: none;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    height: 386px;
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.4);
    height: 100%;
}

.active-module{
    display: block; /* Visible when user clicks 'add book' */ 
}

.input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    cursor: text;
    outline: none;
    border: none;
    background-color: #fffbfb;
    height: 47px;
    font-size: inherit;
    font-weight: 700px;
}

.add-book-from{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55%;
    font-size: 20px;
    width: 35%;
    margin: 10% auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.add-book-from button{
    width: 100%;
    border: none;
    border-radius: 8px;
    height: 47px;
    font-size: 1.2em;
}

/* Button colors */
.btn-light-green{
    background-color: #9fff9c;
    padding: 10px 15px;
}

.checkbox{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    accent-color: white;
}

.is-read{
    display: flex;
    gap: 0 15px;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.2em;
}

/* Book grid styles */
.book-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 500;
}

.book-grid>.book-card {
    background-color: #fffbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 20px;
    line-height: 1.2;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Button styles */
.btn {
    padding: 10px 15px;
    font: inherit;
    border-radius: 8px;
    cursor: pointer;
}

.btn-light-red{
    background-color: #ff9c9c;
    padding: 10px 15px;
}