*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

/* header */
header{
    width: auto;
    height: 100px;
    background-color: #fffbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

header > h1{
    background-color: #fffbfb;
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    justify-content: center;
    width: 100%;
}

/* main */
.main{
    margin-top: 20px;
    padding: 10px;
}

.container{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#addBook{
    padding: 10px 15px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

#addBook:hover{
    filter: brightness(90%);
}